body {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-content: center;

  background-color: $Very-Dark-Blue;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-position: 0 -10px;
  background-size: cover;
}

@import 'components/containers';
@import 'components/meny';
@import 'components/progressbar';

@include mq {
  body {
    background-image: url(../images/bg-desktop.png);
    background-position: bottom;
    background-size: 100% 50%;
  }
}
