html {
  font-size: 14px;
}

body {
  background-color: $Very-Dark-Blue;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@import 'components/containers';
@import 'components/meny';
