@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
  font-size: 14px;
}

body {
  font-family: $ff-raleway;
}

p {
  font-size: 1rem;
  color: $Pale-Blue;
}

.fs-300 {
  font-size: 0.955rem;
}

.fw-700,
.storage-small,
.storage-big {
  font-weight: 700;
}

.storage-big {
  font-size: 2.75rem;
  color: $Very-Dark-Blue;
}

.storage-small {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $Grayish-Blue;
}
