@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
  font-size: 14px;
}

body {
  font-family: $ff-raleway;
}

p {
  font-size: 1rem;
  color: $Pale-Blue;
}

.fw-700,
.text-big {
  font-weight: 700;
}

.text-big {
  font-size: 3rem;
  color: $Very-Dark-Blue;
}

.text-neutral {
  color: $Grayish-Blue;
}
