main {
  width: max(325px, 85%);
  margin: -50px auto 0;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container {
  padding: 3rem;
  border-radius: 10px;
  background-color: $Dark-Blue;
}

.rounded-top-right {
  border-top-right-radius: 100px;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@include mq {
  main {
    flex-wrap: nowrap;
    align-items: end;
    width: 100%;
    gap: 30px;
    margin-top: 0;
  }
}
