main {
  width: max(325px, 85%);
  margin: 130px auto 50px;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container {
  padding: 3rem;
  border-radius: $border-radius;
  background-color: $Dark-Blue;
}

.rounded-top-right {
  border-top-right-radius: 100px;
}
