.storage {
  position: relative;
  width: 100%;
  padding: 30px 30px 50px;

  :first-child {
    text-align: center;
  }

  &-progressbar {
    &-marker {
      display: flex;
      justify-content: space-between;
    }
  }

  &-status {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 180px;
    transform: translate(-50%, 50%);
    padding: 5px 0;
    border-radius: 10px;
    background-color: white;

    // this is flex container
    justify-content: center;
  }
}

.progress {
  margin: 15px 0 5px;
  height: 20px;
  border-radius: 10px;
  background-color: $Very-Dark-Blue-300;
  overflow: hidden;

  &-inner {
    position: relative;
    width: 70%;
    height: 14px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 10px;
    background: linear-gradient(
      to right,
      hsl(6, 100%, 80%),
      hsl(335, 100%, 65%)
    );
    background-size: 400% 400%;
    animation: gradient 10s linear infinite;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

  &-ball {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $Pale-Blue;
  }
}

@include mq {
  .storage {
    width: min(540px, 55vw);
    padding: 40px;

    :first-child {
      text-align: left;
    }

    &-status {
      top: -40px;
      right: 40px;
      left: auto;
      bottom: auto;
      transform: translate(0, 0);

      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        bottom: -20px;
        right: 0;
        border-left: 50px solid transparent;

        border-top: 50px solid white;
      }
    }
  }
}
